# Python object and data structure basics
updated: Friday 13 01:15

In [ ]:
\begin{table}[]
\begin{tabular}{lll}
Name           & Type  & Description                                                      \\
Integers       & int   & Whole numbers, such as: 3 300 200                                \\
Floating point & float & Numbers with a decimal point: 2.3 4.6 100.0                      \\
Strings        & str   & Ordered sequence of characters: "hello" 'Sammy' "2000" "chinese" \\
Lists          & list  & Ordered sequences of objects: {[}10,"hello",200.3{]}             \\
Dictionaries   & dict  & Unordered Key:Value pairs: \{"mykey":"value","name":"Frankie"\}  \\
Tuples         & tup   & Ordered immutable sequence of objects: (10,"hello",200.3)        \\
Sets           & set   & Unordered collection of unique objects: \{"a","b"\}              \\
Booleans       & bool  & Logical value indicating True or False                          
\end{tabular}
\end{table}

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

# Numbers

## Types of numbers

- Python has various "types" of numbers (numeric literals). 
- Focus on integers and floating point numbers.

- **Integers** are just whole numbers, positive or negative. 2 and -2 are examples of integers.

- **Floating point numbers** have a decimal point in them, or use an exponential (e) to define the number.  
  - 2.0 and -2.1 are examples of floating point numbers. 
  - 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

In [1]:
##Addition
2+1

3

In [2]:
##Subtraction
2-1

1

In [3]:
##Multiplication
2*2

4

In [4]:
##Division
3/2

1.5

In [5]:
##Floor division
7//4

1

**Modulo or "Mod" Operator**

In [6]:
##Modulus
7%4

3

In [7]:
50%5

0

In [8]:
23%2

1

In [9]:
##Exponents this is 2^3
2**3

8

In [10]:
# Can also do roots this way
4**0.5

2.0

In [11]:
# Order of Operations followed in Python - BOTMAS
2 + 10 * 10 + 3

105

In [12]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments


The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"

In [13]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [14]:
# Show my taxes!
my_taxes

10.0

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Dynamic typing
### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

# Strings

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [15]:
# Single word
'hello'

'hello'

In [16]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [17]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [18]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-18-da9a34b3dc31>, line 2)

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [21]:
# We can simply declare a string
'Hello World'

'Hello World'

In [22]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [23]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('args()','Bloomberg')

Hello World 1
Hello World 2
Use
 to print a new line


args() Bloomberg

In [24]:
##Getting the length of a string
len('Hello World')

11

### String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. 

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that **indexing starts at 0 for Python.** Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [25]:
# Assign s as a string
s = 'Hello World'

In [26]:
# Print the object
print(s)

Hello World

In [27]:
# Show first element (in this case a letter)
s[0]

'H'

In [28]:
s[1]

'e'

In [29]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [30]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [31]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [32]:
#Indexing a part of a string - this is up to but not including 7
s[0:7]

'Hello W'

In [33]:
#Go in steps of one
s[::1]

'Hello World'

In [34]:
#Skip over every second letter
s[::2]

'HloWrd'

In [35]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [36]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [37]:
# Print a string backwards
s[::-1]

'dlroW olleH'

### String Properties
- It's important to note that strings have an important property known as *immutability*. 
- This means that once a string is created, the elements within it can not be changed or replaced.

In [19]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

NameError: name 's' is not defined

In [38]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [39]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [40]:
print(s)

Hello World concatenate me!

In [41]:
letter = 'z'

In [42]:
letter*10

'zzzzzzzzzz'

In [44]:
s[6:11]

'World'

In [45]:
last_name = s[6:11]
"Niel's " + last_name

"Niel's World"

In [49]:
#Upper case 
last_name.upper()

'WORLD'

In [50]:
# Lower case
last_name.lower()

'world'

In [51]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

1) Are string mutable?
- they are not mutable

In [52]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

# Formatting with Strings
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

In [53]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [54]:
print("I'm going to inject %s text here, and %s text here." %('some','more'))

I'm going to inject some text here, and more text here.

In [56]:
player = 'Thomas'
points = 33
'Last night, '+player+' scored '+str(points)+' points.'  # concatenation

'Last night, Thomas scored 33 points.'

In [57]:
 f'Last night, {player} scored {points} points.' # string formatting

'Last night, Thomas scored 33 points.'

In [59]:
# inside the .format() we don't use '' since we have created the object at top
'Last night, {} scored {} points.'.format(player,points)

'Last night, Thomas scored 33 points.'

In [61]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [62]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

#### Float formatting
**{value:width.precisionf}**

In [63]:
# Changig the width or basically round a number
result = 80/540

In [64]:
result

0.14814814814814814

In [66]:
# {value:width.precisionf}
print('The result was {r:1.3f}'.format(r=result))

The result was 0.148

In [68]:
# Now we change the width to 10 and the precision to 6
print('The result was {r:10.6f}'.format(r=result))

The result was   0.148148

In [70]:
## Two different methods
print('A %s saved is a %s earned.' %('dollar','million'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A dollar saved is a million earned.
A penny saved is a penny earned.

### Alignment, padding and precision with `.format()`
Within the curly braces you can assign field lengths, left/right alignments, rounding parameters and more

In [71]:
# Strings are alligned left and numbers are alligned right
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [72]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [73]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33